---
---
<div class="section-wrap">
  <section id="particle-2" class="section-fullscreen">
    <video
      class="bg-media"
      id="video-p2"
      data-hls="https://vz-64816067-a45.b-cdn.net/cf9c628d-fb24-42e1-b8fb-21f3aa07bbd5/playlist.m3u8"
      loop
      autoplay
      muted
      playsinline
    ></video>
    <div class="scroll-hint">[SCROLL DOWN]</div>
  </section>
</div>
