---
---
<section class="releases-section" id="releases">

  <div class="bg-layer bg-only-a-picture" id="bg-oap"></div>
  <div class="bg-layer bg-noch-einmal" id="bg-noch"></div>
  <div class="release-credits" id="credit-noch">Design: Kiki Park</div>

  <div class="cassettes-container">
    <div class="cassette cassette-oap" id="cass-oap">
      <img loading="lazy" src="./pictures/Only-A_Cass.png" class="cassette-img">
    </div>
    <div class="cassette cassette-noch" id="cass-noch">
      <img loading="lazy" src="./pictures/Nur-noch_Cass_richtig.png" class="cassette-img">
    </div>
  </div>

  <div class="info-panel">

    <div class="release-row-wrapper">
      <div class="release-row" id="row-oap">
        <div class="release-header" onclick="handleHeader('oap')">
          <span class="release-year">2026</span>
          <span class="release-title">Only a Picture</span>
          <span class="release-type">EP</span>
        </div>
        <div class="release-body" id="body-oap">
          <div class="release-body-inner">
            <p class="release-desc">In August 2025 a new recording was created in a remote forest cabin in Sweden. It combines field recordings of the surroundings and interacting musicians with synthesizer sounds and processed acoustic guitar tones. The material, recorded using various specialized microphones and a four-track cassette recorder, a series of experimental compositions characterized by their multi-layered structure.</p>
            <ul class="tracklist">
              <li><span class="track-num">001</span><span class="track-title">Noch nie so geliebt</span><span class="track-dur">05:24</span></li>
              <li><span class="track-num">002</span><span class="track-title">Selbst im Dämmern noch leuchten</span><span class="track-dur">03:14</span></li>
              <li><span class="track-num">003</span><span class="track-title">die Kreise, die ich</span><span class="track-dur">06:37</span></li>
              <li><span class="track-num">004</span><span class="track-title">Noch einmal so lange träumen</span><span class="track-dur">02:48</span></li>
              <li><span class="track-num">005</span><span class="track-title">Soweit entfernt,</span><span class="track-dur">02:41</span></li>
            </ul>
            <a class="bandcamp-link" href="https://hermeshemmnis.bandcamp.com/album/only-a-picture">GET YOUR COPY AT BANDCAMP ↗</a>
          </div>
        </div>
      </div>
      <div class="toggle-btn" id="btn-oap" onclick="handleHeader('oap')">+</div>
    </div>

    <div class="release-row-wrapper">
      <div class="release-row" id="row-noch">
        <div class="release-header" onclick="handleHeader('noch')">
          <span class="release-year">2025</span>
          <span class="release-title">Noch einmal so lange träumen</span>
          <span class="release-type">EP</span>
        </div>
        <div class="release-body" id="body-noch">
          <div class="release-body-inner">
            <p class="release-desc">The EP 'Noch einmal so lange träumen' was recorded between 26 December 2023 and 3 January 2024 during a stay at the Worpswede Artists Residences. Inspired by the vast and atmospheric landscape of the nearby Teufelsmoor, five tracks were created that capture the mood of this environment. In January 2025, the EP was released as a cassette in a edition of 75 copies. The project takes an approach that combines sound with the special atmosphere of the location to enable an exploration of space and mood</p>
            <ul class="tracklist">
              <li><span class="track-num">001</span><span class="track-title">Noch nie so geliebt</span><span class="track-dur">05:24</span></li>
              <li><span class="track-num">002</span><span class="track-title">Selbst im Dämmern noch leuchten</span><span class="track-dur">03:11</span></li>
              <li><span class="track-num">003</span><span class="track-title">die Kreise, die ich</span><span class="track-dur">06:37</span></li>
              <li><span class="track-num">004</span><span class="track-title">Noch einmal so lange träumen</span><span class="track-dur">02:48</span></li>
              <li><span class="track-num">005</span><span class="track-title">Soweit entfernt,</span><span class="track-dur">02:41</span></li>
            </ul>
            <a class="bandcamp-link" href="https://hermeshemmnis.bandcamp.com/album/noch-einmal-so-lange-tr-umen">GET YOUR COPY AT BANDCAMP ↗</a>
          </div>
        </div>
      </div>
      <div class="toggle-btn" id="btn-noch" onclick="handleHeader('noch')">+</div>
    </div>

  </div>
</section>
