---
---
<div class="intro-carousel-overlay" id="intro-carousel-overlay">
  <button class="intro-carousel-close" onclick="closeIntroCarousel()">[close]</button>
  <div class="intro-carousel-credit" id="intro-carousel-credit">Photo: Jona K. Iuelshade</div>
  <div class="intro-carousel">
    <div class="intro-carousel-track">
      <img loading="lazy" src="./pictures/Only-A-Pic_process1.webp" alt="">
      <img loading="lazy" src="./pictures/Only-A-Pic_process2.webp" alt="">
      <img loading="lazy" src="./pictures/Longing3.webp" alt="">
    </div>
    <div class="intro-carousel-left"></div>
    <div class="intro-carousel-right"></div>
  </div>
</div>
